# Clear all bindings
keybind = clear

# System bindings
keybind = super+q=quit
keybind = super+shift+,=reload_config
keybind = super+c=copy_to_clipboard
keybind = super+v=paste_from_clipboard

# Closing things
keybind = super+w=close_surface

# Opening things
keybind = super+t=new_tab
keybind = ctrl+s>-=new_split:down
keybind = ctrl+s>\=new_split:right

# Moving
keybind = super+1=goto_tab:1
keybind = super+2=goto_tab:2
keybind = super+3=goto_tab:3
keybind = super+4=goto_tab:4
keybind = super+5=goto_tab:5
keybind = super+6=goto_tab:6
keybind = super+7=goto_tab:7
keybind = super+8=goto_tab:8
keybind = super+9=goto_tab:9
keybind = ctrl+h=goto_split:left
keybind = ctrl+l=goto_split:right
keybind = ctrl+j=goto_split:down
keybind = ctrl+k=goto_split:up

keybind = ctrl+s>space=toggle_split_zoom

